<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userController"
		class="com.professionalit.controller.UserController" autowire="byType">
	</bean>

	<bean id="userService"
		class="com.professionalit.service.UserServiceImpl" autowire="byType">
	</bean>

	<bean id="userMySql"
		class="com.professionalit.dao.UserMySqlDAOImpl"></bean>

	<bean id="userOracle"
		class="com.professionalit.dao.UserOracleDAOImpl" primary="true"> </bean>

	<bean id="email"
		class="com.professionalit.util.EmailUtil"> </bean>
	<bean id="message"
		class="com.professionalit.util.MessageUtil"> </bean>
	<bean id="password"
		class="com.professionalit.util.PasswordUtil"> </bean>
	<bean id="redis"
		class="com.professionalit.util.RedisCache"> </bean>

</beans>